header.avatar-wrapper {
  /* margin: 160px 20px; */
  height: 400px;
  width: 30%;
  min-width: 250px;
  max-width: 400px;
  text-align: center;
  background-color: #a14ebf;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}

header img {
  margin: 30px auto 0 auto;
  position: relative;
}

.avatar-name {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 10px 0 auto;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

.bold {
  font-size: 1.3em;
}
