section.new-tweet {
  text-align: center;
  width: 100%;
  height: 230px;
  /* margin: 0 auto; */
  display: none;
  transition: all 1s ease;
  animation-duration: 1s;
}

section.new-tweet.active {
  transition: width 0.4s ease-in-out;
}

.form-wrapper {
  height: 180px;
  transition: width 0.4s ease-in-out;
}
.new-tweet h2 {
  margin: 30px 0 0 0;
}
.new-tweet form {
  position: relative;
  height: 80%;
  width: 45%;
  margin: auto;
  transition: width 0.4s ease-in-out;
}

.new-tweet form.active {
  width: 80%;
  transition: width 0.4s ease-in-out;
}

.new-tweet textarea {
  display: inline-block;
  height: 100px;
  width: 100%;
  border: none;
  border-bottom: 5px solid #fcc022;
  text-align: center;
  background-color: transparent;
  padding: 20px 0;
  margin: 8px 0;
  transition: width 0.4s ease-in-out;
  resize: none;
  overflow: hidden;
}
.new-tweet textarea:focus {
  outline: none;
  /* width: 80%; */
}

#submit-btn {
  background-color: #9200cc;
  height: 40px;
  color: #fff;
  border: none;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 120px;
  left: 0;
  transition: all 0.3s ease 0s;
  resize: none;
}

#submit-btn:hover {
  align: center;
  font-weight: 700;
  letter-spacing: 3px;
  transition: all 0.3s ease 0s;
}

#submit-btn:focus {
  background-color: rgba(146, 0, 204, 0.8);
}

span.counter {
  text-align: right;
  position: absolute;
}
.counter-XY-pos {
  right: 0;
  top: 126px;
}

.bad {
  right: 191px;
  top: 111px;
  color: red;
  font-size: 2em;
}

article.tweet-card {
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
  margin: 30px auto;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  background-color: rgba(237, 237, 237, 0.5);
  border: 5px solid #fcc022;
  word-wrap: break-word;
}
article.tweet-card:hover {
  box-shadow: 5px 5px 15px 5px #fcc022;
  transition: box-shadow 0.4s ease;
}
article.tweet-card {
  box-shadow: none;
  transition: box-shadow 0.4s ease;
}

article.tweet-card > * {
  position: relative;
}

article.tweet-card header {
  height: 83.3px;
  line-height: 83.3px;
  width: 95%;
  margin: 0 auto;
}

article.tweet-card header > * {
  position: absolute;
  line-height: 83.3px;
}
article.tweet-card header .user-img {
  left: 0;
}
article.tweet-card header .user-name {
  left: 80px;
}
article.tweet-card header .alias {
  right: 20px;
  color: #aaa;
}

article.tweet-card .tweet-body {
  position: relative;
  height: auto;
  width: 95%;
  margin: 0 auto;
}

article.tweet-card footer {
  position: relative;
  height: 83.3px;
  line-height: 83.3px;
  border-top: 5px solid black;
  width: 95%;
  margin: 0 auto;
}

footer .icons > * {
  margin-left: 5px;
}

article.tweet-card footer .days-ago {
  position: absolute;
  left: 20px;
}
article.tweet-card footer .icons {
  position: absolute;
  right: 20px;
}

span .alias {
  display: inline-block;
}

span .alias:hover {
  display: block;
}

div.error-display {
  position: relative;
}

#error-msg {
  position: relative;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  border: 2px solid red;
  background-color: rgba(146, 0, 204, 0.85);
  color: #fcc022;
}

.error-bold {
  color: red;
  font-weight: bold;
}

#error-close {
  background: none;
  color: #fff;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
  cursor: pointer;
}

#tweet-container {
  margin-top: 40px;
}
