.new-tweet {
  text-align: center;
  width: 90%;
  height: 230px;
  margin: 0 auto;
  display: none;
}

.form-wrapper {
  position: relative;
  height: 180px;
}
.new-tweet h2 {
  margin: 30px 0 0 0;
}
.new-tweet form {
  height: 80%;
  margin: auto;
}

.new-tweet textarea {
  display: inline-block;
  height: 100px;
  width: 45%;
  border: none;
  border-bottom: 5px solid #fcc022;
  text-align: center;
  background-color: transparent;
  padding: 21px 20px;
  margin: 8px 0;
  transition: width 0.4s ease-in-out;
  resize: none;
  overflow: hidden;
}
.new-tweet textarea:focus {
  outline: none;
  width: 80%;
}

.new-tweet input[type="submit"] {
  background-color: #9200cc;
  height: 40px;
  color: #fff;
  border: none;
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  top: 120px;
  left: 150px;
  transition: left 0.4s ease-in-out;
  resize: none;
}

.counter-XY-pos {
  right: 200px;
  top: 126px;
}
.bad {
  right: 191px;
  top: 111px;
  color: red;
  font-size: 2em;
}

span.counter {
  text-align: right;
  position: absolute;
}

article.tweet-card {
  display: flex;
  flex-direction: column;
  height: 250px;
  text-align: center;
  margin: 30px auto;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  background-color: rgba(237, 237, 237, 0.5);
  border: 5px solid #fcc022;
  word-wrap: break-word;
}
article.tweet-card:hover {
  box-shadow: 5px 5px 15px 5px #fcc022;
  transition: box-shadow 0.4s ease;
}
article.tweet-card {
  box-shadow: none;
  transition: box-shadow 0.4s ease;
}

article.tweet-card > * {
  position: relative;
}

article.tweet-card header {
  height: 83.3px;
  line-height: 83.3px;
  width: 95%;
  margin: 0 auto;
}

article.tweet-card header > * {
  position: absolute;
  line-height: 83.3px;
}
article.tweet-card header .user-img {
  left: 0;
}
article.tweet-card header .user-name {
  left: 80px;
}
article.tweet-card header .alias {
  right: 20px;
  color: #aaa;
}

article.tweet-card .tweet-body {
  position: relative;
  height: 83.3px;
  width: 95%;
  margin: 0 auto;
}

article.tweet-card footer {
  position: relative;
  height: 83.3px;
  line-height: 83.3px;
  border-top: 5px solid black;
  width: 95%;
  margin: 0 auto;
}

footer .icons > * {
  margin-left: 5px;
}

article.tweet-card footer .days-ago {
  position: absolute;
  left: 20px;
}
article.tweet-card footer .icons {
  position: absolute;
  right: 20px;
}

span .alias {
  display: inline-block;
}

span .alias:hover {
  display: block;
}

div.error-display {
  position: relative;
}

#error-msg {
  position: relative;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  border: 2px solid red;
  background-color: rgba(146, 0, 204, 0.85);
  color: #fcc022;
}

.error-bold {
  color: red;
  font-weight: bold;
}

#error-close {
  background-color: transparent;
  color: #fff;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
  cursor: pointer;
}
